:root{


	--c-bright-red: hsl(12, 88%, 59%);
	--c-bright-red-hover: rgb(241, 129, 101);
	--c-dark-blue: hsl(228, 39%, 23%);
	--c-dark-grayish-blue: hsl(227, 12%, 61%);
	--c-very-dark-blue: hsl(233, 12%, 13%);
	--c-very-pale-red: hsl(13, 100%, 96%);
	--c-very-light-gray: hsl(0, 0%, 98%);
}

*,
*::after,
*::before{
	margin: 0;
	padding: 0;
    box-sizing: inherit;
}

html{
	font-size: 62.5%;
	font-family: 'Be Vietnam', sans-serif;
	box-sizing: border-box;



	@media (max-width: 1450px){
		font-size: 60%;
	}
	
	@media (max-width: 1050px){
		font-size: 55%;
	}

	@media (max-width: 950px){
		font-size: 52%;
	}

	@media (max-width: 725px){
		font-size: 55%;
	}
}

body{
	font-size: 1.6rem;

	@media (max-width: 1050px){
		font-size: 1.4rem;
	}
	line-height: 1.8;

	@media (max-width: 725px){
		font-size: 1.6rem;
	}
}

p{
	color: var(--c-dark-grayish-blue);
}
ul{
	list-style: none
}

a{  
	text-decoration: none;
	display: inline-block;
	font-size: 1.4rem;
	line-height: 1;
	color: var(--c-dark-blue);
}

img{
	max-width: 100%;
}
span{
	display: block;
}

input{
	font-family: inherit;
	outline: none;
}




.section{
	width: 90%;
	margin: 0 auto;
	max-width: 140rem;
	padding: 8rem 0 4rem;

	@media (max-width: 725px){
		padding: 4rem 0;

	}

	&--cta{
	padding: 6rem 0 ;
	}
}
.two-col{
	display: grid;
	grid-template-columns: 45% 45%;
	gap: 5rem;
	align-items: center;
	justify-content: space-between;

	@media (max-width: 725px){
		grid-template-columns: 1fr;
		text-align: center;
	}
}




.header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 0;
	margin-top: 4rem;
	position: relative;
	
	&__logo__img{
		position: relative;
		z-index: 1;
	}

	&__btn{
		display: none;
		@media (max-width: 725px){
			display: block;
			position: relative;
			z-index: 11;
		}
	}

	&__cta{
		@media (max-width: 725px){
			display: none;
		}
	}

}

.top{
	position: relative;
	overflow: hidden;
	
	&::after{
		content: url('images/bg-tablet-pattern.svg');
		position: absolute;
		right: -5rem;
		top: -10rem;
		z-index: -1;

		
		@media (max-width: 725px){
			display: none;
		}

	}
}



.nav{

	&__list{
		display: flex;

		@media (max-width: 725px){
			background-color: #fff;
			border-radius: .5rem;
			padding: 5rem;
			position: absolute;
			top: 150%;
			left: 0;
			width: 100%;
			flex-direction: column;
			align-items: center;
			display: none;
			z-index: 2;
			transition: display .4s ease-in;


		}

		&__item{
			margin-right: 2rem;
			font-weight: 700;
			color: var(--c-dark-blue);
			transition: color .2s ease-in;

			@media (max-width: 725px){
				font-size: 1.8rem;
				margin-bottom: 3rem;
				margin-right: 0;
			}

			&--last{
				margin-right: 0;
				margin-bottom: 0;
			}

			&:hover{
				color: var(--c-dark-grayish-blue);
			}

		}
	}

}




.btn{
	padding: .95em 1.5em;
	border-radius: 22rem;
	font-weight: 700;
	transition: background-color .2s ease-in,
				color .2s ease-in,
				box-shadow .2s ease-in,
				transform .2s ease-out;

	&--orange{
		background-color: var(--c-bright-red);
		color: #fff;
		box-shadow: 0 .5rem 1rem rgba( #f25f3a, .5);

		&:hover{
			background-color: var(--c-bright-red-hover);
			color: var(--c-very-light-gray);
			box-shadow: 0 .5rem 1.5rem rgba( #f25f3a, .7);
		}
	}
	&--white{
		background-color: #fff;
		color: var(--c-bright-red);
		box-shadow: 0 .5rem 1rem rgba( #fff, .5);

		&:hover{
			color: var(--c-bright-red-hover);
			box-shadow: 0 .5rem 1.5rem rgba( #f25f3a, .7);

		}

	}

	&:active{
		transform: translateY(2px);
	}

}




.intro{

	&__text{

		@media (max-width: 725px){
			grid-row: 2 / 3  ;
		}
		&__heading{
			font-size: 6rem;
			color: var(--c-dark-blue);
			font-weight: 700;
			line-height: 1.15;
			margin-bottom: 3rem;

			@media (max-width: 1450px){
				font-size: 5.6rem;
			}

			@media (max-width: 1250px){
				font-size: 5.2rem;
			}

			@media (max-width: 875px){
				font-size: 4.4rem;
			}
		}
		&__para{
			margin-bottom: 3rem;
		}
	}
}


.features{
	align-items: start;
	position: relative;
	padding-bottom: 8rem;


	&::after{
		content: url('images/bg-tablet-pattern.svg');
		position: absolute;
		left: -55rem;
		bottom: -25rem;
		z-index: -11;

		@media (max-width: 725px){
			display: none;
		}
	}
	&__text{

		&__heading{
			font-size: 4rem;
			line-height: 1.15;
			color: var(--c-dark-blue);
			margin-bottom: 3rem;

			@media (max-width: 1050px){
				font-size: 3.2rem;
			}

			@media (max-width: 875px){
				font-size: 2.8rem;
			}

			
			@media (max-width: 725px){
				width: 80%;
				margin: 0 auto 3rem; 
			}

			@media (max-width: 725px){
				font-size: 3.6rem;
			}
		}

		&__para{
			width: 65%;

			@media (max-width: 725px){
				width: 80%;
				margin: 0 auto;
			}
		}
	}

	&__points{

		&__item{
			text-align: left;
			margin-bottom: 5rem;


			&__top{
				display: flex;
				align-items: flex-start;
				margin-bottom: 2rem;

				@media (max-width: 725px){
					background-color: var(--c-very-pale-red);
					border-top-left-radius: 55rem;
					border-bottom-left-radius: 55rem;
					width: 105.5%;
				}
			
			}

			&__number{
				background: var(--c-bright-red);
				color: #fff;
				line-height: 1;
				font-size: 1.4rem;
				font-weight: 500;
				border: 1px solid var(--c-bright-red);
				border-radius: 22rem;
				padding: .8rem 1.8rem;
				margin-right: 1.5rem;
			}

			&__text{
				&__heading{
					font-size: 1.8rem;
					color: var(--c-dark-blue);
					position: relative;
					@media (max-width: 725px){
						font-size: 1.6rem;
					}
				}

				&__para{
					margin-left: calc(1.5rem + 8.52%) ;

					
					@media (max-width: 725px){
						margin-left: 0;

					}
				}

			}
		}
	}
}


.testimonials{

	padding: 8rem 4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__heading{
		
		font-size: 4rem;
		line-height: 1.15;
		color: var(--c-dark-blue);

		@media (max-width: 1050px){
			font-size: 3.2rem;
		}
		@media (max-width: 875px){
			font-size: 2.8rem;
		}

		@media (max-width: 725px){
			font-size: 3.8rem;
		}
	}


	&__item{
		display: none;
		text-align: center;
		margin: 4rem;

		&__container{
			display: flex;
			padding: 5rem 0;
		}

		&__img{
			width: 8rem;
		}

		&__name{
			margin: 1.5rem 0;
			font-size: 1.8rem;
		}
	}
}


.cta{
	background-color: var(--c-bright-red);
	background-image: url('images/bg-simplify-section-desktop.svg') ;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center ;

	@media (max-width: 725px){
	background-image: url('images/bg-simplify-section-mobile.svg') ;
	background-size: 20%;
	background-position:  left;
	}
	

	&__content{
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: space-between;

		
		@media (max-width: 725px){
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		&__heading{
			color: #fff;
			font-size: 4rem;
			line-height: 1.15;
			width: 40%;

			@media (max-width: 1050px){
				font-size: 3.2rem;
			}

			@media (max-width: 875px){
				font-size: 2.8rem;
			}

			@media (max-width: 725px){
				width: 100%;
				text-align: center;
				margin-bottom: 4rem;
				font-size: 3.8rem;
			}
		}
	}
}










.footer{
	background-color: var(--c-very-dark-blue);

	&__content{
		display: grid;
		gap: 5rem;
		grid-template-columns: 1.5fr 2fr 2fr 2.5fr;

		@media (max-width: 725px){
			grid-template-columns: 1fr 1fr;
			gap: 3rem;
		}
	}

	&__social{
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: space-between;
		padding-top: 1rem;

		@media (max-width: 725px){
			grid-row: 3 / 4;
			grid-column: 1 / -1;
		}

		@media (max-width: 725px){
			flex-direction: column-reverse;
			align-items: center;
		}

		&__list{
			display: flex;

			&__item{
				margin-right: 1rem;

				@media (max-width: 725px){
					margin-bottom: 8rem;
					margin-right: 4rem;
					transform: scale(1.3);
				}

				&:hover path{
					fill: var(--c-bright-red-hover);
					transition: fill .2s ease-in;
				}

				&--last{
					margin-right: 0;
				}
			}
		}
	}


	&__nav{
		
		&__list{

			&--1{
				@media (max-width: 725px){
					padding-left: 20%;
				}
			}

			&--2{
				@media (max-width: 725px){
					padding-right: 20%;
				}
			}

			&__item{
				color: #fff;
				font-size: 1.6rem;
				margin-bottom: 1rem;
				transition: color .2s ease-in;

				&:hover{
					color: var(--c-bright-red-hover);
				}

				@media (max-width: 725px){
					margin-bottom: 2rem;

				}

			}
		}
	}

	&__cta{

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@media (max-width: 725px){
			grid-row: 1 / -1;
			grid-column: 1 / -1;
		}


		&__form{
			display: grid;
			grid-template-columns: 75% 1fr;
			gap: 2rem;
			margin-bottom: 2rem;
			align-items: flex-start;
			@media (max-width: 1050px){
				grid-template-columns: 1fr;
			}

			
			@media (max-width: 725px){
				grid-template-columns: 75% 1fr;
			}

			&__email{
				padding: .8em 1.8rem;
				width: 100%;
				border: none;
				border-radius: 22rem;
			}

			.error-msg{
				color: var(--c-bright-red);
				font-size: 1.4rem;
				margin-left: 1.4em;
				font-style: italic;
				display: none;

			}

			&__submit{
				padding: .8em 2rem;
				border: none;
				background-color: var(--c-bright-red);
				color:#fff;
				transition: background-color .1s ease-in; 
			}
		}

		
	}
	&__copyright{
		text-align: right;
		font-size: 1.4rem;
		@media (max-width: 725px){
			grid-column: 1 / -1;
			text-align: center;
		}
	}	

}

.is-open{
	display: flex;
}

.top::before{
		content: '';
		width: 100%;
		position: absolute;
		height: 100vh;
		background: linear-gradient(to bottom, rgba(0,0,0, .15), rgba(0,0,0, .4));
		z-index: 1;
		display: none;
	}

.top.overlay::before{
	display: block;
}
.attribution { font-size: 12px; text-align: center; }
.attribution a { color: var(--c-bright-red) }