:root {
  --c-bright-red: hsl(12, 88%, 59%);
  --c-bright-red-hover: rgb(241, 129, 101);
  --c-dark-blue: hsl(228, 39%, 23%);
  --c-dark-grayish-blue: hsl(227, 12%, 61%);
  --c-very-dark-blue: hsl(233, 12%, 13%);
  --c-very-pale-red: hsl(13, 100%, 96%);
  --c-very-light-gray: hsl(0, 0%, 98%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: 'Be Vietnam', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1450px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 1050px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 950px) {
  html {
    font-size: 52%;
  }
}

@media (max-width: 725px) {
  html {
    font-size: 55%;
  }
}

body {
  font-size: 1.6rem;
  line-height: 1.8;
}

@media (max-width: 1050px) {
  body {
    font-size: 1.4rem;
  }
}

@media (max-width: 725px) {
  body {
    font-size: 1.6rem;
  }
}

p {
  color: var(--c-dark-grayish-blue);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  font-size: 1.4rem;
  line-height: 1;
  color: var(--c-dark-blue);
}

img {
  max-width: 100%;
}

span {
  display: block;
}

input {
  font-family: inherit;
  outline: none;
}

.section {
  width: 90%;
  margin: 0 auto;
  max-width: 140rem;
  padding: 8rem 0 4rem;
}

.section--cta {
  padding: 6rem 0;
}

.two-col {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 45%;
      grid-template-columns: 45% 45%;
  gap: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 725px) {
  .two-col {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    text-align: center;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0;
  margin-top: 4rem;
}

.top {
  position: relative;
  overflow: hidden;
}

.top::after {
  content: url("images/bg-tablet-pattern.svg");
  position: absolute;
  right: -5rem;
  top: -10rem;
  z-index: -1;
}

@media (max-width: 725px) {
  .nav {
    display: none;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list__item {
  margin-right: 2rem;
  font-weight: 700;
  color: var(--c-dark-blue);
  -webkit-transition: color .2s ease-in;
  transition: color .2s ease-in;
}

.nav__list__item--last {
  margin-right: 0;
}

.nav__list__item:hover {
  color: var(--c-dark-grayish-blue);
}

.btn {
  padding: .95em 1.5em;
  border-radius: 22rem;
  font-weight: 700;
  -webkit-transition: background-color .2s ease-in, color .2s ease-in, -webkit-box-shadow .2s ease-in, -webkit-transform .2s ease-out;
  transition: background-color .2s ease-in, color .2s ease-in, -webkit-box-shadow .2s ease-in, -webkit-transform .2s ease-out;
  transition: background-color .2s ease-in, color .2s ease-in, box-shadow .2s ease-in, transform .2s ease-out;
  transition: background-color .2s ease-in, color .2s ease-in, box-shadow .2s ease-in, transform .2s ease-out, -webkit-box-shadow .2s ease-in, -webkit-transform .2s ease-out;
}

.btn--orange {
  background-color: var(--c-bright-red);
  color: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(242, 95, 58, 0.5);
          box-shadow: 0 0.5rem 1rem rgba(242, 95, 58, 0.5);
}

.btn--orange:hover {
  background-color: var(--c-bright-red-hover);
  color: var(--c-very-light-gray);
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(242, 95, 58, 0.7);
          box-shadow: 0 0.5rem 1.5rem rgba(242, 95, 58, 0.7);
}

.btn--white {
  background-color: #fff;
  color: var(--c-bright-red);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.5);
          box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.5);
}

.btn--white:hover {
  color: var(--c-bright-red-hover);
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(242, 95, 58, 0.7);
          box-shadow: 0 0.5rem 1.5rem rgba(242, 95, 58, 0.7);
}

.btn:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

@media (max-width: 725px) {
  .intro__text {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
}

.intro__text__heading {
  font-size: 6rem;
  color: var(--c-dark-blue);
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 3rem;
}

@media (max-width: 1450px) {
  .intro__text__heading {
    font-size: 5.6rem;
  }
}

@media (max-width: 1250px) {
  .intro__text__heading {
    font-size: 5.2rem;
  }
}

@media (max-width: 875px) {
  .intro__text__heading {
    font-size: 4.4rem;
  }
}

.intro__text__para {
  margin-bottom: 3rem;
}

.features {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  position: relative;
  padding-bottom: 8rem;
}

.features::after {
  content: url("images/bg-tablet-pattern.svg");
  position: absolute;
  left: -55rem;
  bottom: -25rem;
  z-index: -11;
}

.features__text__heading {
  font-size: 4rem;
  line-height: 1.15;
  color: var(--c-dark-blue);
  margin-bottom: 3rem;
}

@media (max-width: 1050px) {
  .features__text__heading {
    font-size: 3.2rem;
  }
}

@media (max-width: 875px) {
  .features__text__heading {
    font-size: 2.8rem;
  }
}

@media (max-width: 725px) {
  .features__text__heading {
    width: 80%;
    margin: 0 auto 3rem;
  }
}

.features__text__para {
  width: 65%;
}

@media (max-width: 725px) {
  .features__text__para {
    width: 80%;
    margin: 0 auto;
  }
}

.features__points__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.features__points__item__number {
  background: var(--c-bright-red);
  color: #fff;
  line-height: 1;
  font-size: 1.4rem;
  font-weight: 500;
  border: 1px solid var(--c-bright-red);
  border-radius: 22rem;
  padding: .8rem 1.8rem;
  margin-right: 3rem;
}

.features__points__item__text {
  margin-bottom: 3rem;
}

.features__points__item__text__heading {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  position: relative;
}

@media (max-width: 725px) {
  .features__points__item__text__heading {
    font-size: 1.6rem;
  }
  .features__points__item__text__heading::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 110%;
    border-top-left-radius: 22rem;
    border-bottom-left-radius: 22rem;
    background: var(--c-very-pale-red);
    width: 105%;
    z-index: -1;
  }
}

@media (max-width: 725px) {
  .features__points__item__text__heading {
    margin-left: 0;
  }
}

@media (max-width: 725px) {
  .features__points__item__text {
    margin-left: -18%;
  }
}

.testimonials {
  padding: 8rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__heading {
  font-size: 4rem;
  line-height: 1.15;
  color: var(--c-dark-blue);
}

@media (max-width: 1050px) {
  .testimonials__heading {
    font-size: 3.2rem;
  }
}

@media (max-width: 875px) {
  .testimonials__heading {
    font-size: 2.8rem;
  }
}

.testimonials__item {
  display: none;
  text-align: center;
  margin: 4rem;
}

.testimonials__item__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5rem 0;
}

.testimonials__item__img {
  width: 8rem;
}

.testimonials__item__name {
  margin: 1.5rem 0;
  font-size: 1.8rem;
}

.cta {
  background-color: var(--c-bright-red);
  background-image: url("images/bg-simplify-section-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.cta__content {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 725px) {
  .cta__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.cta__content__heading {
  color: #fff;
  font-size: 4rem;
  line-height: 1.15;
  width: 40%;
}

@media (max-width: 1050px) {
  .cta__content__heading {
    font-size: 3.2rem;
  }
}

@media (max-width: 875px) {
  .cta__content__heading {
    font-size: 2.8rem;
  }
}

@media (max-width: 725px) {
  .cta__content__heading {
    width: 100%;
    text-align: center;
    margin-bottom: 4rem;
  }
}

.footer {
  background-color: var(--c-very-dark-blue);
}

.footer__content {
  display: -ms-grid;
  display: grid;
  gap: 5rem;
  -ms-grid-columns: 1.5fr 2fr 2fr 2.5fr;
      grid-template-columns: 1.5fr 2fr 2fr 2.5fr;
}

@media (max-width: 725px) {
  .footer__content {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1rem;
}

@media (max-width: 725px) {
  .footer__social {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    grid-column: 1 / -1;
  }
}

@media (max-width: 725px) {
  .footer__social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social__list__item {
  margin-right: 1rem;
}

@media (max-width: 725px) {
  .footer__social__list__item {
    margin-bottom: 8rem;
    margin-right: 4rem;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

.footer__social__list__item:hover path {
  fill: var(--c-bright-red-hover);
  -webkit-transition: fill .2s ease-in;
  transition: fill .2s ease-in;
}

.footer__social__list__item--last {
  margin-right: 0;
}

@media (max-width: 725px) {
  .footer__nav__list--1 {
    padding-left: 20%;
  }
}

@media (max-width: 725px) {
  .footer__nav__list--2 {
    padding-right: 20%;
  }
}

.footer__nav__list__item {
  color: #fff;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  -webkit-transition: color .2s ease-in;
  transition: color .2s ease-in;
}

.footer__nav__list__item:hover {
  color: var(--c-bright-red-hover);
}

@media (max-width: 725px) {
  .footer__nav__list__item {
    margin-bottom: 2rem;
  }
}

.footer__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 725px) {
  .footer__cta {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
  }
}

.footer__cta__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 75% 1fr;
      grid-template-columns: 75% 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 1050px) {
  .footer__cta__form {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 725px) {
  .footer__cta__form {
    -ms-grid-columns: 75% 1fr;
        grid-template-columns: 75% 1fr;
  }
}

.footer__cta__form__email {
  padding: .8em 1.8rem;
  width: 100%;
  border: none;
  border-radius: 22rem;
}

.footer__cta__form .error-msg {
  color: var(--c-bright-red);
  font-size: 1.4rem;
  margin-left: 1.4em;
  font-style: italic;
  display: none;
}

.footer__cta__form__submit {
  padding: .8em 2rem;
  border: none;
  background-color: var(--c-bright-red);
  color: #fff;
  -webkit-transition: background-color .1s ease-in;
  transition: background-color .1s ease-in;
}

.footer__copyright {
  text-align: right;
  font-size: 1.4rem;
}

@media (max-width: 725px) {
  .footer__copyright {
    grid-column: 1 / -1;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */