:root{
	--c-bright-red: hsl(12, 88%, 59%);
	--c-bright-red-hover: rgb(224, 100, 69);
	--c-dark-blue: hsl(228, 39%, 23%);
	--c-dark-grayish-blue: hsl(227, 12%, 61%);
	--c-very-dark-blue: hsl(233, 12%, 13%);
	--c-very-pale-red: hsl(13, 100%, 96%);
	--c-very-light-gray: hsl(0, 0%, 98%);
}

*,
*::after,
*::before{
	margin: 0;
	padding: 0;
    box-sizing: inherit;
}

html{
	font-size: 62.5%;
	font-family: 'Be Vietnam', sans-serif;
	box-sizing: border-box;
}

body{
	font-size: 1.6rem;
	line-height: 1.8;
}

p{
	color: var(--c-dark-grayish-blue);
}
ul{
	list-style: none
}

a{  
	text-decoration: none;
	display: inline-block;
	font-size: 1.4rem;
	line-height: 1;
	color: var(--c-dark-blue);
}

img{
	max-width: 100%;
}
span{
	display: block;
}

input{
	font-family: inherit;
	outline: none;
}

.section{
	width: 90%;
	margin: 0 auto;
	max-width: 140rem;
	padding: 8rem 0 4rem;

	&--cta{
	padding: 6rem 0 ;

	}
}
.two-col{
	display: grid;
	grid-template-columns: 40% 40%;
	gap: 5rem;
	align-items: center;
	justify-content: space-between;
}




.header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 0;
	margin-top: 4rem;


	&::after{
		content: url('images/bg-tablet-pattern.svg');
		position: absolute;
		right: -10rem;
		top: -20rem;
		z-index: -1;
	}
}





.nav{

	&__list{
		display: flex;

		&__item{
			margin-right: 2rem;
			font-weight: 700;

			&--last{
				margin-right: 0;
			}
		}
	}

}




.btn{
	padding: .95em 1.5em;
	border-radius: 22rem;
	font-weight: 700;

	&--orange{
		background-color: var(--c-bright-red);
		color: #fff;
		box-shadow: 0 .5rem 1rem rgba( #f25f3a, .5);
	}
	&--white{
		background-color: #fff;
		color: var(--c-bright-red);
		box-shadow: 0 .5rem 1rem rgba( #fff, .5);

	}

}




.intro{

	&__text{
		&__heading{
			font-size: 6rem;
			color: var(--c-dark-blue);
			font-weight: 700;
			line-height: 1.15;
			margin-bottom: 3rem;
		}
		&__para{
			margin-bottom: 3rem;
		}
	}
}


.features{
	align-items: start;
	position: relative;
	padding-bottom: 8rem;


	&::after{
		content: url('images/bg-tablet-pattern.svg');
		position: absolute;
		left: -55rem;
		bottom: -25rem;
		z-index: -1;
	}
	&__text{

		&__heading{
			font-size: 4rem;
			line-height: 1.15;
			color: var(--c-dark-blue);
			margin-bottom: 3rem;
		}

		&__para{
			width: 65%;
		}
	}

	&__points{

		&__item{
			display: flex;
			align-items: flex-start;

			&__number{
				background: var(--c-bright-red);
				color: #fff;
				line-height: 1;
				font-size: 1.4rem;
				font-weight: 500;
				border-radius: 22rem;
				padding: .8rem 1.8rem;
				margin-right: 3rem;
			}

			&__text{
				margin-bottom: 3rem;

				&__heading{
					font-size: 1.8rem;
					margin-bottom: 2rem;
				}
			}
		}
	}
}


.testimonials{

	padding: 8rem 4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__heading{
		
		font-size: 4rem;
		line-height: 1.15;
		color: var(--c-dark-blue);
	}


	&__item{
		text-align: center;
		margin: 4rem;

		&__container{
			display: flex;
			padding: 5rem 0;
		}

		&__img{
			width: 8rem;
		}

		&__name{
			margin: 1.5rem 0;
			font-size: 1.8rem;
		}
	}
}


.cta{
	background-color: var(--c-bright-red);
	background-image: url('images/bg-simplify-section-desktop.svg') ;
	background-repeat: no-repeat;
	background-size: cover;

	&__content{
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&__heading{
			color: #fff;
			font-size: 4rem;
			line-height: 1.15;
			width: 40%;
		}
	}
}

.footer{
	background-color: var(--c-very-dark-blue);

	&__content{
		display: grid;
		gap: 5rem;
		grid-template-columns: 1.5fr 2fr 2fr 2fr;
	}

	&__social{
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: space-between;

		padding-top: 1rem;


		&__list{
			display: flex;

			&__item{
				margin-right: 1rem;

				&--last{
					margin-right: 0;
				}
			}
		}
	}


	&__nav{
		
		&__list{

			&__item{
				color: #fff;
				margin-bottom: 1rem
			}
		}
	}

	&__cta{

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&__form{
			display: grid;
			grid-template-columns: 75% 1fr;
			gap: 2rem;
			align-items: flex-start;

			&__email{
				padding: .8em 1.8rem;
				width: 100%;
				border: none;
				border-radius: 22rem;
			}

			.error-msg{
				color: var(--c-bright-red);
				font-size: 1.4rem;
				margin-left: 1.4em;
				font-style: italic;
				display: none;

			}

			&__submit{
				padding: .8em 2rem;
				border: none;
				background-color: var(--c-bright-red);
				color:#fff;
				transition: background-color .1s ease-in; 
			}
		}

		
	}
	&__copyright{
		text-align: right;
		font-size: 1.4rem;
	}

}
